
.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: inline-block;
    padding: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 20px;
    margin-left: 0px;
}
.main {
    height: 400px;
    width: 726px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    vertical-align: top;
    display: inline-block;
    margin-left: 13px;
    margin-top: 13px; 
    
}
#advertisement {
    height: 120px;
    width: 669px;
    background-color: purple;
    margin: 25px 0 0 10px;
}


h2{
    height: 28px;
    width: 200px;
    background-color: azure;
    border-radius: 20px;
    border: 2px solid; 
    color: teal;
    text-align: center;
    border-color: teal;
}

h1{
    height: 38px;
    width: 38px;
    background-color: teal;
    border-radius: 50%;
    color: whitesmoke;
    text-align: center;
}

button{
    height: 38px;
    width: 240px;
    background-color: royalblue;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    box-shadow: 6px 6px black;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

.row {
    display: flex;
    margin: 10px;

}

.col, .col-2, .col-3 {
    background-color: cadetblue;
    height: 30px;
    margin: 10px;
    flex: 1;
    
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}