@font-face {
    font-family: "FX_LED";
    src: url('../fonts/FX-LED.woff') format('woff'),
         url('../fonts/FX-LED.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "Hack";
    src: url('../fonts/Hack-Bold.woff') format('woff'),
         url("../fonts/Hack-Bold.ttf") format("truetype");
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d2d2d;
}

.digital-clock {
    background-color: #000;
    color: #fff;
    display: flex;
    border-radius: 1rem;
    user-select: none;
    padding: 0 2rem;
    width: fit-content;    
    border: 0.5rem solid #2d2d2d;
}

.dia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 3rem;
    color: #2d2d2d;
    font-weight: bold;
    font-family: "Hack";
}

.dia .activo {
    color: white
}

.time {
    font-family: "FX_LED";
}

.hora,
.min,
.puntos {
    display: inline-block;
    @media (max-width: 600px) {
        font-size: 7.5rem;
    }

    @media (min-width: 601px) and (max-width: 1200px) {
        font-size: 11.5rem;
    }

    @media (min-width: 1201px) {
        font-size: 16rem;
    }
}

.min {
    display: math;
}

.invisible {
    visibility: hidden;
}